phpunit.xml
composer.phar
composer.lock
composer-test.lock
vendor/
build/
artifacts/
docs/_build
docs/*.pyc
.idea
.DS_STORE
src/Command
src/Stream
src/Subscriber/Log
src/Subscriber/MessageIntegrity
src/Subscriber/Oauth
src/Subscriber/Progress
src/Subscriber/Retry
